:root {
    --button-color: #0099ff;
}

body{
    background: #111d2a;
    color: #fff;
}

body,
.generatorContainer,
.recent {
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 300px;
    height: 380px;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: 100ms ease-in-out;
}
input[type="range"] {
    width: 100%;
    margin: 10px 0;
}
button {
    background-color: var(--button-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: #111d2a;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #18293b;
    border-radius: 3px;
    border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--button-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #18293b;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #18293b;
    border-radius: 3px;
    border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--button-color);
    cursor: pointer;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background: #18293b;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
    background: #18293b;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--button-color);
    cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
    background: #18293b;
}
input[type="range"]:focus::-ms-fill-upper {
    background: #18293b;
}

.title {
    font-size: 1.4rem;
    font-family: cursive;
    color: var(--button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    padding: 7px;
}

#show {
    font-size: 1.3rem;
    text-align: center;
}
i {
    color: var(--button-color);
}
#recentBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 1.5rem;
}
#recentPasswordsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}
#recentPasswordsContainer::-webkit-scrollbar {
    width: 0;
}

.generatorContainer {
    padding: 20px;
}

.fa-arrow-left {
    cursor: pointer;
    border-radius: 25px;
    padding: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;
}
.hide {
    opacity: 0;
    visibility: hidden;
}
.recent {
    position: absolute;
}
.checkboxContainer {
    padding-top: 20px;
    user-select: none;
}
.recentPassword {
    font-size: 1rem;
}
.empty {
    color: grey;
}
#clear {
    color: orangered;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 5px;
}
input {
    cursor: pointer;
}

.field-checkers {
    display: flex;
    position: relative;
    cursor: pointer;
    user-select: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 10px;
    &:hover {
        background: #ffffff0a;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    label {
        width: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: right;
        width: 100%;
        gap: 5px;
        cursor: pointer;

        .textContainer {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            font-size: 0.9rem;
        }

        .moreInfo {
            font-size: 0.7rem;
            color: #a4a4a48a;
        }
    }

    label .toggleButton {
        position: relative;
        width: 40px;
        height: 20px;
        background: #aaa;
        display: flex;
        border-radius: 25px;
        transition: 300ms ease-in-out;
        &::after {
            content: "";
            position: absolute;
            height: 20px;
            width: 20px;
            border-radius: 50px;
            background: white;
            top: 0;
            left: 0;
            transition: 300ms ease-in-out;
            transform: translateX(0px);
        }
    }

    input:checked ~ label .toggleButton::after {
        transform: translateX(20px);
    }

    input:checked ~ label .toggleButton {
        background: var(--button-color);
    }
}
